#login h1 a, .login h1 a {
  @include full-box;
  background-image: url("assets/images/owens-corning-logo.svg");
  background-position: center center;
  background-size: contain;
  height: 8em;
  margin: 0;
}

#login {
  .custom-login-module {
    @include full-box;
    margin-bottom: 2em;
    text-align: center;

    button {
      @include better-box;
      background-color: $callout;
      color: $background;
      padding: 0.5em 1em;

      &:hover {
        background-color: $callout-hover;
      }
    } // End button
  } // End .custom-login-module
} // End #login
