.content {
  p {
    font-size: 0.875em;
  }

  a {
    color: $callout;
    text-decoration: underline;
  }

  img {


    &.alignleft {
      float: left;
    }

    &.aligncenter {
      clear: both;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    &.align-right {
      float: right;
    }
  } // End img

  ul, ol {
    @include full-box;
    margin-bottom: $minor-space;

    li {
      display: list-item;
      font-family: $font-light;
      line-height: 160%;
      margin-bottom: $nano-space;
      margin-left: $minor-space;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  ul {
    li {
      list-style: disc;
    }
  }

  ol {
    li {
      list-style: decimal;
    }
  }

  strong {
    font-family: $font-bold;
  }

  em {
    font-style: italic;
  }
} // End .content
