h1, h2, h3, h4, h5 {
  @include full-box;
  color: $default;
  font-family: $font-bold;
  line-height: 140%;
  margin-bottom: 1em;
}

h1 {
  font-family: $font-light;
  font-size: 3em;
  margin-bottom: $space;

  // Secondary Mobile - Phone & Below
  @media screen and (max-width: $phone) {
    font-size: 2.4em;
  } // End Phone & Below
}

h2 {
  font-family: $font-bold;
  font-size: 2em;
  // margin-bottom: $space;
}

h3 {
  font-size: 1.5em;
  // margin-bottom: $minor-space;
}

// h4 {}

h5 {
  color: #333333;
  font-size: 0.875em;
  font-style: italic;
}
