// Akzidenz
@font-face {
  font-family: 'Akzidenz-Grotesk';
  src: url('assets/fonts/akzidenz-grotesk-regular.eot') format('eot'),
       url('assets/fonts/akzidenz-grotesk-regular.svg') format('svg'),
       url('assets/fonts/akzidenz-grotesk-regular.tiff') format('tiff'),
       url('assets/fonts/akzidenz-grotesk-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz-Grotesk-CL';
  src: url('assets/fonts/akzidenz-grotesk-condensed-light.eot') format('eot'),
       url('assets/fonts/akzidenz-grotesk-condensed-light.svg') format('svg'),
       url('assets/fonts/akzidenz-grotesk-condensed-light.tiff') format('tiff'),
       url('assets/fonts/akzidenz-grotesk-condensed-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz-Grotesk-L';
  src: url('assets/fonts/akzidenz-grotesk-light.eot') format('eot'),
       url('assets/fonts/akzidenz-grotesk-light.svg') format('svg'),
       url('assets/fonts/akzidenz-grotesk-light.tiff') format('tiff'),
       url('assets/fonts/akzidenz-grotesk-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz-Grotesk-M';
  src: url('assets/fonts/akzidenz-grotesk-medium.eot') format('eot'),
       url('assets/fonts/akzidenz-grotesk-medium.svg') format('svg'),
       url('assets/fonts/akzidenz-grotesk-medium.tiff') format('tiff'),
       url('assets/fonts/akzidenz-grotesk-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz-Grotesk-B';
  src: url('assets/fonts/akzidenz-grotesk-bold.eot') format('eot'),
       url('assets/fonts/akzidenz-grotesk-bold.svg') format('svg'),
       url('assets/fonts/akzidenz-grotesk-bold.tiff') format('tiff'),
       url('assets/fonts/akzidenz-grotesk-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
